
<odoo>

 <act_window
  id="elihel_nave_action"
  name="Action Nave"
  res_model="elihel.nave.rel"
  view_mode="tree,form"/>



<menuitem
  id="elihel_menu"
  name="Trabajos Elihel"
  parent=""
  groups="elihel.group_elihel" 
  sequence="34" />

<menuitem
  id="elh_ingreso"
  name="Ingreso Trabajos"
  parent="elihel_menu"
  sequence="20"
  groups="elihel.group_elihel"  
  action="elihel_nave_action"/>


  <menuitem
  id="elh_nave_menu"
  name="Barcos/Camiones"
  parent="elihel_menu"
  sequence="25"
  groups="elihel.group_elihel"
  action="elihel_nave_action" />


</odoo>
