
<odoo>

 <act_window
  id="elihel_nave_action"
  name="Action Nave"
  res_model="elihel.nave.rel"
  view_mode="form,tree"/>





<menuitem
  id="elihel_menu"
  name="Trabajos Elihel"
  parent=""
  sequence="34"
  groups="taller.group_elihel" />

<menuitem
  id="elh_ingreso"
  name="Ingreso Trabajos"
  parent="elihel_menu"
  sequence="20"
  groups="taller.group_elihel"  
  action="elihel_nave_action"/>


  <menuitem
  id="elh_nave_menu"
  name="Barcos/Camiones"
  parent="taller_menu"
  sequence="25"
  groups="taller.group_elihel"
  action="elihel_nave_action" />




</odoo>
