
<odoo>

 <act_window
  id="elihel_nave_action"
  name="Datos Barcos"
  res_model="elihel.nave.rel"
  view_mode="tree,form"/>

  <act_window
  id="elihel_main_action"
  name="Lista de Trabajos"
  res_model="elihel.main"
  view_mode="tree,form"/>

<act_window
  id="elihel_pmo_action"
  name="Servicios PMO"
  res_model="elihel.serv_pmo.rel"
  view_mode="tree,form"/>

<act_window
  id="elihel_cco_action"
  name="Servicios CCO"
  res_model="elihel.serv_cco.rel"
  view_mode="tree,form"/>

<menuitem
  id="elihel_menu"
  name="Trabajos Elihel"
  parent=""
  groups="elihel.group_elihel" 
  sequence="34" />

<menuitem
  id="elh_ingreso"
  name="Ingreso Trabajos"
  parent="elihel_menu"
  sequence="20"
  groups="elihel.group_elihel"  
  action="elihel_main_action"/>


  <menuitem
  id="elh_nave_menu"
  name="Datos Barcos"
  parent="elihel_menu"
  sequence="25"
  groups="elihel.group_elihel"
  action="elihel_nave_action" />

<menuitem
  id="elh_s_menu"
  name="Servicios"
  parent="elihel_menu"
  sequence="45"
  groups="elihel.group_elihel" />

  <menuitem
  id="elh_s_pmo"
  name="Servicios PMO"
  parent="elh_s_menu"
  sequence="15"
  groups="elihel.group_elihel"
  action="elihel_pmo_action" />

  <menuitem
  id="elh_s_cco"
  name="Servicios CCO"
  parent="elh_s_menu"
  sequence="25"
  groups="elihel.group_elihel"
  action="elihel_cco_action" />

</odoo>
